.user__name {
    list-style-type: none;
    font-size: 20px;
    border: black 2px solid;
    padding: 2% 5%;
    margin: 1% 20%;
    text-decoration: none;
    color: #E4e6eb;
    text-align: center;
    background-color: #3a3b3c;
}
.user__list {
    display: flex;
    flex-direction: column
}
.name__title {
    text-align: center;
    font-size: 40px;
}