.request__form {
    text-align: center;
    font-size: 40px;
}
.form {
    border: rgb(0, 0, 0) 2px solid;
    background-color: #3a3b3c;
    padding: 6% 10%;
    margin: 6% 10%;
}
.topic__select {
    font-size: 20px;
    margin: 3% 0px;
}
.form__submit {
    font-size: 20px;
    padding: 1% 5%;
    border-radius: 10px;
    margin: 3% 0px;
}
.description {
    font-size: 20px;
    margin: 3% 0px;
    display: flex;
    flex-direction: column;
}
.description label {
    margin-bottom: 2%;
}
.description textarea {
    height: 100px;
}
.status__label {
    margin-left: 2%;
}