.logo {
    display: flex;
    justify-content: space-between;
    background-color: #3a3b3c;
    border-bottom: black 2px solid;
}
.logo__right{
    display: flex;
}

.logo img {
    margin-right: 4%;
    margin-left: 3%;
    margin-top: 2%;
    height: 40%;
}

.logo__right h2{
    margin-top: 27%;
    font-size: 20px;
}

.logo h1 {
    font-size: 50px;
}

.navbar {
    display: flex;
    background-color: #18191A;
}

.navbar__item{
    list-style-type: none;
    font-size: 20px;
    border: black 2px solid;
    padding: 1% 3%;
    margin: 0px 7% 2% 7%;
    border-radius: 10px;
    background-color: #3a3b3c
}

.navbar__link {
    text-decoration: none;
    color: rgb(255, 255, 255);
    
}
.unordered__list {
    display: flex;
    justify-content: space-around;
}
.circle__img {
    width: 20%;
    margin-top: 20%;
}
.requests__number {
    display: flex;
}
.numRows {
    margin-left: 3px;
    border: rgba(255, 0, 0, 0.759) 1px solid;
    border-radius: 50%;
    padding: 0px 7px;
    background-color: rgb(255, 0, 0, 0.759);
    color: white;
    font-weight: bold;
    font-size: 18px;
}